*{
	margin:0;
	padding:0;
}
img{border:0;}
body{
    text-align:center;
    background:#FFF;
}
.clear{clear:both;}
div.aps{margin:0 auto;width:760px;}
#header{}
div.date{background:url(./image/aps_index_top.jpg) left bottom no-repeat;height:21px;text-align:left;padding-left:50px;}
div.date span{font:12px/21px Arial;color:#FFF;}
div.logo{background:url(./image/aps_index_logo.jpg) left top no-repeat;height:110px;}
div.nav{background:#3D5029;}
div.neck{font-size:1px;background:#D6D5CD;border-bottom:2px solid #FFF;height:8px;}
table.ibody{width:100%;border:0;}
td.l{background:#CFD9BF;width:181px;vertical-align:top;overflow:hidden;text-align:center;}
td.c{vertical-align:top;width:404px;overflow:hidden;}
td.r{vertical-align:top;width:175px;overflow:hidden;}
#footer{background:url(./image/aps_index_foot.jpg) left top repeat-x;height:48px;}
div.copyright{margin-top:8px;font:12px/160% Arial;color:#000;letter-spacing:1px;}
div.copyright a{text-decoration:none;color:#000}
div.copyright a:hover{}


div.count{border:1px solid #000;background:#eee;}
div.counttitle{background:url(./image/aps_index_left_count.jpg); height:28px;}
div.count p{font:12px/250% Arial;padding:10px;text-align:left;}
div.count p span{margin:5px 0;}

.contact_article_picture_list .colsubject{background:url(./image/aps_index_left_link.jpg) no-repeat;height:46px;}
.contact_article_picture_list table{margin:5px auto;}
.contact_article_picture_list .colsubject span{display:block;text-align:left;font: bold 13px/150% "";color:#FFF; letter-spacing: 2px; padding: 15px 0 3px 60px;}
.contact_article_picture_list .title{text-align:center;}
.contact_article_picture_list .title a{text-decoration:none;color:#000;font-size: 12px;letter-spacing: 1px;}


div.custom{
    background:#EEE;
    text-align:center;
}
div.custom input.button{
    font: 12px "宋体";
    text-decoration: none;
    letter-spacing: 1px;
    padding:2px 10px 0 10px !important;
    padding:4px 10px 0 10px;
    overflow:visible;
    background:#FEF9E6 url(./image/defaultbutton.jpg) left bottom repeat-x;
    border: 1px solid #D18C0C;
    height:18px;
    color: #333333;
    margin-top:1px;
    line-height:90%;
}



/*Column_title_hr*/
ul.center_menu_l1{width:100%;text-align:center; list-style:none;margin:0;padding:0;}
ul.center_menu_l1 li{ letter-spacing:1px;display:inline;height:22px;}
ul.center_menu_l1 .menu_l1_head,ul.center_menu_l1 .menu_l1_foot{display:none;}
ul.center_menu_l1 li.menu_l1_space{ display:none;}
ul.center_menu_l1 a{border-right:1px solid #FFC;padding:0 10px;font-size:12px;text-decoration: none;}
[xmlns] ul.center_menu_l1 a{padding-top:5px; padding-bottom:5px;}
ul.center_menu_l1 a.menu_l1:link{ color:#FFF; }
ul.center_menu_l1 a.menu_l1:visited{color:#FFF; }
ul.center_menu_l1 a.menu_l1:hover{color:#FF9;text-decoration:none; }
ul.center_menu_l1 a.menu_l1_current:link{ color:#C00;}
ul.center_menu_l1 a.menu_l1_current:visited{ color:#C00;}
ul.center_menu_l1 a.menu_l1_current:hover{ color:#C00;}



/*article brief*/
div.center_article_brief{margin-bottom:8px;width:374px;overflow:hidden;}
div.center_article_brief div.colsubject{border-bottom:1px dashed #7C7C7C;margin-bottom:5px;}
div.center_article_brief div.colsubject span{float:left;display:inline;width:250px;height:23px;margin-left:10px;color:#DB8400;font:bold 13px/22px "";letter-spacing:3px;text-align:left;}
div.center_article_brief div.colsubject div.more{}
div.center_article_brief div.colsubject div.more a{}
div.center_article_brief div.colsubject div.more a:link{}
div.center_article_brief div.colsubject div.more a:visited{}
div.center_article_brief div.colsubject div.more a:hover{}
div.center_article_brief div.body{padding:5px;border-bottom:1px dashed #999}
div.center_article_brief div.body table{width:100%;}
div.center_article_brief td.img{text-align:center;}
div.center_article_brief td.img div{}
div.center_article_brief td.img img{border:1px solid #AEBF93;}
div.center_article_brief td.content{}
div.center_article_brief div.content{}
div.center_article_brief div.title{}
div.center_article_brief div.title h3{text-align:center;color:#568C7E;font-size:13px;display:none;}
div.center_article_brief marquee{}
div.center_article_brief div.text{padding:0 8px;}
div.center_article_brief div.text a{font:12px/150% "";text-indent:2em;text-decoration:none;}
div.center_article_brief div.text a:link{color:#000;}
div.center_article_brief div.text a:visited{color:#000;}
div.center_article_brief div.text a:hover{color:#996600;}
div.center_article_brief div.text span.date{color:#c60;font-size:12px;}
div.center_article_brief div.detaillink{text-align:right;padding-right:15px;}
div.center_article_brief div.detaillink a{font:12px/150% "";}
div.center_article_brief div.detaillink a:link{color:#BD0000;}
div.center_article_brief div.detaillink a:visited{color:#BD0000;}
div.center_article_brief div.detaillink a:hover{color:#C00;}

div.centernone_article_list{display:none;}

/*column_list*/
div.right_column_list{margin-bottom:8px;width:170px;border:1px solid #333;background:#EEE;}
div.right_column_list div.colsubject{background:#598A2D;border:1px solid #FFF;}
div.right_column_list div.colsubject span{text-align:center;display:block;height:23px;color:#FFF;font:13px/22px "";letter-spacing:3px;}
div.right_column_list div.more{display:none;font-size:12px;float:right;width:50px;height:23px;}
div.right_column_list div.more a{font:12px/120% "宋体" ;text-decoration: none;}
div.right_column_list div.more a:link{color:#6E6D72;}
div.right_column_list div.more a:visited{color:#6E6D72;}
div.right_column_list div.more a:hover{color:#6E6D72;}
div.right_column_list div.marquee{}
div.right_column_list div.body{}
div.right_column_list table{width:100%;}
div.right_column_list td{}
div.right_column_list table div{background:url(./image/aps_index_li4.jpg) 15px 10px no-repeat;padding:0 0 0 30px;}
div.right_column_list div img{border:0px;}
div.right_column_list div a{font:12px/25px "";text-decoration: none;letter-spacing:1px;}
div.right_column_list div a:link{color:#000;}
div.right_column_list div a:visited {color:#000;}
div.right_column_list div a:hover{color:#A48117;}

div.left_column_list{overflow:hidden;width:163px;margin:5px auto;}
div.left_column_list div.colsubject{display:none;}
div.left_column_list div.colsubject span{text-align:left;float:left;display:block;width:250px;height:23px;margin-left:30px;color:#333;font:bold 13px/22px "";letter-spacing:3px;}
div.left_column_list div.more{display:none;font-size:12px;float:right;width:50px;height:23px;}
div.left_column_list div.more a{font:12px/120% "宋体" ;text-decoration: none;}
div.left_column_list div.more a:link{color:#6E6D72;}
div.left_column_list div.more a:visited{color:#6E6D72;}
div.left_column_list div.more a:hover{color:#6E6D72;}
div.left_column_list div.marquee{}
div.left_column_list div.body{width:100%;border:1px solid #96AA73;background:#EBE9D8;}
div.left_column_list table{width:148px;margin-left:3px;}
div.left_column_list td{}
div.left_column_list table div{background:url(./image/aps_index_li.jpg) 10px center no-repeat;}
div.left_column_list div img{border:0px;}
div.left_column_list div a{display:block;font: 13px/150% "";text-decoration:none;letter-spacing:2px;padding:4px 0 3px 30px;border-bottom:1px solid #9DCC0F;}
div.left_column_list div a:link{color:#024F26;}
div.left_column_list div a:visited {color:#024F26;}
div.left_column_list div a:hover{color:#884D17;text-decoration:none;}

div.link_column_list{overflow:hidden;margin:5px auto;}
div.link_column_list div.colsubject{display:none;}
div.link_column_list div.colsubject span{text-align:left;float:left;display:block;width:250px;height:23px;margin-left:30px;color:#333;font:bold 13px/22px "";letter-spacing:3px;}
div.link_column_list div.more{display:none;font-size:12px;float:right;width:50px;height:23px;}
div.link_column_list div.more a{font:12px/120% "宋体" ;text-decoration: none;}
div.link_column_list div.more a:link{color:#6E6D72;}
div.link_column_list div.more a:visited{color:#6E6D72;}
div.link_column_list div.more a:hover{color:#6E6D72;}
div.link_column_list div.marquee{}
div.link_column_list div.body{}
div.link_column_list table{width:100%;}
div.link_column_list td{}
div.link_column_list table div{background:url(./image/aps_index_left_link.jpg) no-repeat;height:46px;}
div.link_column_list div img{border:0px;}
div.link_column_list div a{display:block;font:bold 13px/150% "";text-decoration:none;letter-spacing:2px;padding:15px 0 3px 60px;}
div.link_column_list div a:link{color:#FFF;}
div.link_column_list div a:visited {color:#FFF;}
div.link_column_list div a:hover{color:#FFC;text-decoration:none;}

div.right1_column_list{width:170px;margin:0px;margin-bottom:8px;border:1px solid #999;background:#F2EEE6;}
div.right1_column_list div.colsubject{background:url(./image/aps_index_right_column.jpg) 0 top no-repeat;overflow:hidden;margin-bottom:0px;padding:8px 0;}
div.right1_column_list div.colsubject span{color:#FFF;height:20px;font:bold 13px/20px Arial;overflow:hidden; display:block; white-space:nowrap;text-align:center;letter-spacing:5px;}
div.right1_column_list div.more{font-size:12px;text-align:right;margin-top:8px;margin-right:8px;}
div.right1_column_list div.more a{font:12px/100% Arial;text-decoration: none;}
div.right1_column_list div.more a:link{color:#000;}
div.right1_column_list div.more a:visited{color:#000;}
div.right1_column_list div.more a:hover{color:#c00;}
div.right1_column_list div.marquee{}
div.right1_column_list div.body{}
div.right1_column_list table{width:100%;}
div.right1_column_list td{}
div.right1_column_list table div{background:url(./image/aps_index_li23.jpg) 15px 8px no-repeat;padding:2px 8px 2px 30px;overflow:hidden;}
div.right1_column_list div a{font:12px/140% Arial;text-decoration: none;letter-spacing:1px;}
div.right1_column_list div a:link{color:#331F00;}
div.right1_column_list div a:visited{color:#331F00;}
div.right1_column_list div a:hover{color:#A48117;}
div.right1_column_list div p{font:12px/140% Arial;color:#006}
div.right1_column_list td div span{color:#9B6900;font-size:12px;}

/*article_list*/
div.link_article_list{overflow:hidden;margin:5px auto;}
div.link_article_list div.colsubject{display:none;}
div.link_article_list div.colsubject span{text-align:left;float:left;display:block;width:250px;height:23px;margin-left:30px;color:#333;font:bold 13px/22px "";letter-spacing:3px;}
div.link_article_list div.more{display:none;font-size:12px;float:right;width:50px;height:23px;}
div.link_article_list div.more a{font:12px/120% "宋体" ;text-decoration: none;}
div.link_article_list div.more a:link{color:#6E6D72;}
div.link_article_list div.more a:visited{color:#6E6D72;}
div.link_article_list div.more a:hover{color:#6E6D72;}
div.link_article_list div.marquee{}
div.link_article_list div.body{}
div.link_article_list table{width:100%;}
div.link_article_list td{}
div.link_article_list table div{background:url(./image/aps_index_left_link.jpg) no-repeat;height:46px;}
div.link_article_list div img{border:0px;}
div.link_article_list div a{display:block;font:bold 13px/150% "";text-decoration:none;letter-spacing:2px;padding:15px 0 3px 60px;}
div.link_article_list div a:link{color:#FFF;}
div.link_article_list div a:visited {color:#FFF;}
div.link_article_list div a:hover{color:#FFC;text-decoration:none;}


div.center_article_list{width:374px;margin:0 2px;margin-bottom:5px;margin-top:25px;}
div.center_article_list div.colsubject{border-bottom:1px dashed #7C7C7C;margin-bottom:5px}
div.center_article_list div.colsubject span{text-align:left;float:left;display:inline;width:250px;height:23px;margin-left:10px;color:#DB8400;font:bold 13px/22px "";letter-spacing:3px;}
div.center_article_list div.more{font-size:12px;float:right;width:50px;height:23px;}
div.center_article_list div.more a{font:12px/23px "";text-decoration: none;}
div.center_article_list div.more a:link{color:#6E6D72}
div.center_article_list div.more a:visited{color:#6E6D72}
div.center_article_list div.more a:hover{color:#6E6D72}
div.center_article_list div.body{clear:both;}
div.center_article_list div.marquee{height:160px;overflow:hidden;}
div.center_article_list table{width:100%;}
div.center_article_list td{}
div.center_article_list table div{clear:both;background:url(./image/aps_index_li4.jpg) 5px 10px no-repeat;}
div.center_article_list table div a{float:left;font:12px/150% Arial ;text-decoration: none;letter-spacing:1px;background:url(./image/aps_index_li4.jpg) 5px 10px no-repeat;padding:1px 0 2px 20px;}
div.center_article_list table div a:link{color:#000;}
div.center_article_list table div a:visited{color:#000;}
div.center_article_list table div a:hover{color:#996600;}
div.center_article_list table td div span{float:right;color:#9B6900;font:12px/150% Arial;margin:0;}

div.center1_article_list{width:374px;margin:0 2px;margin-bottom:5px;margin-top:40px;}
div.center1_article_list div.colsubject{background:url(./image/aps_index_center_column.jpg) left bottom repeat-x;padding-bottom:10px;}
div.center1_article_list div.colsubject span{text-align:left;float:left;display:inline;width:250px;height:23px;margin-left:10px;color:#DB8400;font:bold 13px/22px "";letter-spacing:3px;}
div.center1_article_list div.more{font-size:12px;float:right;width:50px;height:23px;}
div.center1_article_list div.more a{font:12px/23px Arial ;text-decoration: none;}
div.center1_article_list div.more a:link{color:#6E6D72}
div.center1_article_list div.more a:visited{color:#6E6D72}
div.center1_article_list div.more a:hover{color:#6E6D72}
div.center1_article_list div.body{clear:both;border:1px solid #999;background:#F1F0E4;}
div.center1_article_list div.marquee{height:90px;overflow:hidden;}
div.center1_article_list table{width:100%;}
div.center1_article_list td{}
div.center1_article_list table div{clear:both;}
div.center1_article_list table div a{float:left;font:12px/150% Arial;text-decoration: none;letter-spacing:1px;background:url(./image/aps_index_li4.jpg) 10px 10px no-repeat;padding:1px 0 2px 20px;border-bottom:1px solid #FFF;}
div.center1_article_list table div a:link{color:#000;}
div.center1_article_list table div a:visited{color:#000;}
div.center1_article_list table div a:hover{color:#996600;}
div.center1_article_list table td div span{float:right;color:#9B6900;font:12px/150% Arial;}

div.left_article_list{margin:0 1px;}
div.left_article_list div.colsubject{background:url(./image/aps_index_left_column.jpg) 0 top no-repeat;height:25px;overflow:hidden;}
div.left_article_list div.colsubject span{display:block;color:#FFF;font:bold 13px/25px Arial ;height:22px;overflow:hidden;text-align:center;letter-spacing:3px;white-space:nowrap;}
div.left_article_list div.more{padding:2px 5px;font-size:12px;text-align:right;}
div.left_article_list div.more a{font:12px/100% Arial;text-decoration: none;}
div.left_article_list div.more a:link{color:#000;}
div.left_article_list div.more a:visited{color:#000;}
div.left_article_list div.more a:hover{color:#00C;}
div.left_article_list div.marquee{}
div.left_article_list div.body{padding:10px 0 5px 0;text-align:left;}
div.left_article_list table{width:100%}
div.left_article_list td{}
div.left_article_list table div{background:url(./image/aps_index_li2.jpg) 10px 8px no-repeat;padding:2px 0 2px 25px;list-style:none;overflow:hidden;}
div.left_article_list div a{font:12px/140% Arial;text-decoration: none;letter-spacing:1px;}
div.left_article_list div a:link{color:#1D2609;}
div.left_article_list div a:visited{color:#1D2609;}
div.left_article_list div a:hover{color:#945816;}
div.left_article_list td div span{color:#9B6900;font-size:12px;}

div.right_article_list{width:170px;margin:0px;margin-bottom:5px;border:1px solid #999;background:#F2EEE6;}
div.right_article_list div.colsubject{background:url(./image/aps_index_right_column.jpg) 0 top no-repeat;overflow:hidden;margin-bottom:0px;padding:8px 0;}
div.right_article_list div.colsubject span{color:#FFF;height:20px;font:bold 13px/20px Arial;overflow:hidden; display:block; white-space:nowrap;text-align:center;letter-spacing:5px;}
div.right_article_list div.more{font-size:12px;text-align:right;margin-top:8px;margin-right:8px;}
div.right_article_list div.more a{font:12px/100% Arial;text-decoration: none;}
div.right_article_list div.more a:link{color:#000;}
div.right_article_list div.more a:visited{color:#000;}
div.right_article_list div.more a:hover{color:#c00;}
div.right_article_list div.marquee{}
div.right_article_list div.body{}
div.right_article_list table{width:100%;}
div.right_article_list td{}
div.right_article_list table div{background:url(./image/aps_index_li23.jpg) 8px 8px no-repeat;padding:2px 8px 1px 20px;overflow:hidden;}
div.right_article_list div a{font:12px/140% Arial;text-decoration: none;letter-spacing:1px;}
div.right_article_list div a:link{color:#331F00;}
div.right_article_list div a:visited{color:#331F00;}
div.right_article_list div a:hover{color:#A48117;}
div.right_article_list div p{font:12px/140% Arial;color:#006}
div.right_article_list td div span{color:#9B6900;font-size:12px;}



/*article_picture_list*/

/*column_picture_list*/
div.center_column_picture_list{}
div.center_column_picture_list div.colsubject{}
div.center_column_picture_list div.colsubject span{}
div.center_column_picture_list div.more{}
div.center_column_picture_list div.more a{font:12px/100% "宋体";}
div.center_column_picture_list div.more a:link{}
div.center_column_picture_list div.more a:visited{}
div.center_column_picture_list div.more a:hover{}
div.center_column_picture_list marquee{}
div.center_column_picture_list div.body{}
div.center_column_picture_list table{width:100%;}
div.center_column_picture_list td{}
div.center_column_picture_list div.picture{}
div.center_column_picture_list div.picture img{}
div.center_column_picture_list div.picture a{}
div.center_column_picture_list div.title{}
div.center_column_picture_list div.title a{font:12px/100% "宋体";}
div.center_column_picture_list div.title a:link{}
div.center_column_picture_list div.title a:visited{}
div.center_column_picture_list div.title a:hover{}


/*form_table*/
div.center_form_table{}
div.center_form_table div.colsubject{}
div.center_form_table div.colsubject span{}
div.center_form_table div.more{}
div.center_form_table div.more a{font:12px/100% "宋体";}
div.center_form_table div.more a:link{}
div.center_form_table div.more a:visited{}
div.center_form_table div.more a:hover{}
div.center_form_table marquee{}
div.center_form_table div.body{}
div.center_form_table table{width:100%;}
div.center_form_table th{}
div.center_form_table td{}

/*articel_picture_list_without.subject*/
div.center_article_picture_list_without_subject{width:100%;height:120px;overflow:hidden;}
div.center_article_picture_list_without_subject div.body{}
div.center_article_picture_list_without_subject table{width:100%;}
div.center_article_picture_list_without_subject td{text-align:center;}
div.center_article_picture_list_without_subject div.picture{padding:0 2px;}
div.center_article_picture_list_without_subject div.picture img{}

div.bottom_article_picture_list_without_subject{}
div.bottom_article_picture_list_without_subject div.body{text-align:center;}
div.bottom_article_picture_list_without_subject table{margin:0 auto;}
div.bottom_article_picture_list_without_subject td{padding:0 2px}
div.bottom_article_picture_list_without_subject div.picture{}
div.bottom_article_picture_list_without_subject div.picture img{border:1px solid #000;width:164px;height:38px;}

/*simple_search*/
div.simple_search{background:#C3C3C3 url(./image/aps_index_search.jpg) 20px top no-repeat;;border:1px solid #FFF;height:27px;margin-bottom:10px;}
div.simple_search div.searchtitle{display:none;height:19px;overflow:hidden;margin-bottom:3px;line-height:19px;color:#FFF;letter-spacing:5px;font-size:12px;text-align:center;}
div.simple_search div.searchinput{float:left;width:170px;display:inline;text-align:center;margin-left:120px;}
div.simple_search div.searchinput input{background:url(./image/aps_index_search_input.jpg) no-repeat;font-size:12px;text-align:left;width:170px;}
div.simple_search div.searchbutton {float:left;width:70px;text-align:center;margin:5px;}
div.simple_search div.searchbutton input{cursor:pointer ;width:65px;height:18px;border:0px;overflow:visible;background:url(./image/aps_index_search_but.jpg) left top no-repeat;}
div.simple_search div.searchbutton input.en{background:url(./image/en_search.jpg) left top no-repeat;}

/*article_search*/
div.article_search{}
div.article_search table{}
div.article_search th{}
div.article_search td{}
div.article_search td span.select{}
div.article_search td span.select select{}
div.article_search td input{}
div.article_search td span{}
div.article_search td.date input.input{}
div.article_search div{}
div.article_search div input.button{}

/*show_copyright*/
span.copyright{}

/*show_today*/
span.today{}

/*column_combox*/
span.center_link_combox{display:block;margin:10px 0;}

/*login_block*/
#login{border:0; width:100%;}
#login tr.login_head{ display:none;}
#login td.login_head{}
#login tr.login_foot{display:none;}
#login td.login_foot{}
#login tr.login_space{display:none;}
#login td.login_space{font-size:1px;height:0px;overflow:hidden;}
#login .login_title{}
#login .login_title div{font-size:13px;height:20px;overflow:hidden;text-align:center;color:#FFF3A4;font-weight:bold;}
#login th{font:normal 12px/18px "";text-align:right;padding:5px 3px 2px 15px;}
#login td{ font:normal 12px/18px "";}
#login td div.button{text-align:center;}
#login .login_text{height:80px;text-align:center;vertical-align:middle;font:normal 12px/18px "";}
#login span{}
#login a{font:normal 12px/18px "";}
#login a:link{color:#000;}
#login a:visited{color:#000;}
#login a:hover{color:#c00;}
#login input.input{width:90px;height:16px;border:1px solid #000;}
#login input.button{background:#DFEAF9;border:1px solid #547AC2;font:12px/auto "";color:#042888;padding:1px 5px 0 5px;overflow:visible;letter-spacing:2px;}




