<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>在线收藏夹</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<div > 
<div class="panel panel-default">
    <div class="panel-body">
{% if user_name  %}
welcome {{user_name}}!&nbsp&nbsp<a href="logout">退出</a>
{%  else %}
	<a href="login">登录</a><a href="register">注册</a>
{% endif %}

	<a href="/">首页</a>
	<a href="url/index" target="_blank">网页收藏夹</a>
	<a href="note/index" target="_blank">在线便签</a>
	<a href="mcode/index" target="_blank">代码共享</a>
</div>
</div>
</div>

<div style="margin-top: 100px;">
	<form action='/cau/s/' method="GET">
		<input type="text" name="keyword" style="width: 500px;height: 40px;margin-left: 200px;">
		<input type="submit" name="搜索" value="搜索" style="width: 80px;height: 50px;background-color: red;color: white">
	</form>

</div>
 
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/js/bootstrap.min.js"></script>
</body>
</html>
