<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>登录</title>
          <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

</head>
<body>
 <div class="panel panel-primary" style="width: 400px;margin-left: 500px;margin-top: 200px">
    <div class="panel-heading">
        <h3 class="panel-title">登录界面</h3>
    </div>
    <div class="panel-body">
 <form adction="login" method="POST" enctype="multipart/form-data">
 	{{err}}
 	<table>
 		<tr>
 			<td>
 				邮箱:
 			</td>
 			<td>
 				<input type='text' name='email'>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				密码:
 			</td>
 			<td>
 				<input type='password' name='pwd'>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				<a href="../register">注册</a>
 			</td>
 			<td>
 				<input type='submit' name="登录">
 			</td>

 		</tr>
 	</table>

 </form>
 </div>
</body>
</html>
