<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
	{{err}}
 <form adction="register" method="POST" enctype="multipart/form-data">
 	<table>
 		<tr>
 			<td>
 				邮箱:
 			</td>
 			<td>
 				<input type='text' name='email'>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				昵称:
 			</td>
 			<td>
 				<input type='text' name='name'>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				密码:
 			</td>
 			<td>
 				<input type='password' name='pwd'>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				<a href="../login">登录</a>
 			</td>
 			<td>
 				<input type='submit' name="注册">
 			</td>

 		</tr>
 	</table>

 </form>
 
</body>
</html>
