<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>代码共享</title>
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body>
	{% include 'mcode_nav.html' %}
	<div>
		 <div style="margin: 20px">
		 	<form action="/mcode/share/" method="POST" enctype="multipart/form-data">
		 		<textarea name="mcode" cols="60" rows="20"></textarea> 
		 		<input type="hidden" name="user_id" value={{user_id}}>
		 		<input type="submit" name="" value="提交">
		 	</form>
		 </div>
		 
	</div>
	 <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/js/bootstrap.min.js"></script>
</body>
</html>
