<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>代码共享</title>
</head>
<body style="background-color:#EAEAEA">
	
	<input id='url' style="width: 300px;margin-left: 50px;height: 30px;" type="text" name="" value={{url}}>
	<div style="margin-top: 100px;background-color: #FFFFFF">
		 <div style="margin: 20px">
		 	<pre>
		 	<span id='mcode'>
		 		{{code|escape|linebreaks}}
		 	</span>
		 	</pre>
		 </div>
	</div>
</body>
<script type="text/javascript">

 </script>
</html>
