 <div class="panel panel-default">
    <div class="panel-body">{% if user_name  %}
welcome {{user_name}}!&nbsp&nbsp<a href="/logout">退出</a>
{%  else %}
	<a href="/login">登录</a><a href="/register">注册</a>
{% endif %}
<a href="/" target="_blank">首页</a>
<a href="/url/index" target="_blank">网页收藏夹</a>
<a href="/note/index" target="_blank">在线便签</a>
<a href="/mcode/index" target="_blank">代码共享</a>
</div>
</div>