*{padding:0;margin:0;}
body{background:#FFF;text-align:center;}
input.button{font: 12px/13px "";height:18px;text-decoration: none;letter-spacing: 1px;padding:2px 10px 0 10px !important;overflow:visible;background:#FEF9E6 url(./image/button.jpg) left bottom repeat-x;border: 1px solid #D18C0C;color: #333333;margin-top:1px;}
input.input{border:1px solid #D5D5D5;background:#F0F0F0;}


body.login{margin:0 auto;margin-top:60px;}
body.login div.login{border:1px solid #060;width:760px;margin:0 auto;}
body.login div.login .doctortop{background:url(./image/login_top_doctor.jpg) 0 0 no-repeat;height:113px;}
body.login div.login .mastertop{background:url(./image/login_top_master.jpg) 0 0 no-repeat;height:113px;}
body.login div.login .recommendtop{background:url(./image/login_top_recommend.jpg) 0 0 no-repeat;height:113px;}
body.login div.login .middle{padding:26px 0 0 415px;background:url(./image/login_middle.jpg) 0 0 no-repeat;height:154px;>height /**/:180px;text-align:left;}
body.login div.login .bottom{padding-top:20px;background:url(./image/login_bottom.jpg) 0 0 no-repeat;height:90px;>height /**/:110px;text-align:center;color:#000066;letter-spacing:2px;font-size:13px;position:relative;}
body.login div.login .bottom a{color:#000;text-decoration:none;}
body.login div.login #error{width:330px;text-align:left;border:0px solid #CCCCCC;right:20px;top:-25px;z-index:2;position:absolute;height:25px;color:#FFF;font:12px/25px "";}
body.login div.login #login{text-align:left;padding-top:35px;padding-left:35px;border:1px solid #CCCCCC;width:245px;>width /**/:280px;height:81px;>height /**/:116px;background:url(./image/login_pic.jpg) 34px 10px no-repeat;}
body.login div.login #login table.login{width:223px;border:1px solid #215AA5;}
body.login div.login table.login th.title{display:none;}
body.login #login th.uname{padding-left:20px;font-size:12px;font-weight:normal;background:#EDEFF3;border:0;color:#000066;text-align:right;}
body.login #login th.password{padding-left:20px;font-size:12px;font-weight:normal;background:#EDEFF3;border:0;color:#000066;text-align:right;letter-spacing:11px;}
body.login #login th.button{background:#EDEFF3;border:0;height:25px;text-align:center;}
body.login #login td{padding:0;background:#EDEFF3;border:0;height:22px;}
body.login #login input.input{border:1px solid #000;width:100px;height:16px;}
body.login #login input.submits{cursor:pointer;border:0;background:url(./image/login_sub.gif) center top no-repeat;width:35px;height:15px;font-size:1px;color:#FFF;}
body.login #login input.register{cursor:pointer;border:0;background:url(./image/login_reg.gif) center top no-repeat;width:35px;height:15px;font-size:1px;color:#FFF;}
body.login #login input.findpwd{cursor:pointer;border:0;background:url(./image/login_findpwd.gif) center top no-repeat;width:55px;height:15px;font-size:1px;color:#FFF;}

div.register{width:760px;margin:0 auto;}
div.r_header{background:url(./image/Bicea_register_head.jpg) no-repeat;height:69px;}
div.r_findpasswordheader{background:url(./image/findpassword_head.jpg) no-repeat;height:69px;}
div.r_bodyer{background:#F8F8F5;min-height:400px;height:auto;!height:400px;}
div.r_case{padding:20px 50px 10px 50px;}
div.r_title{border-bottom:1px solid #D0802F;margin-bottom:8px;text-align:center;font:bold 14px/160% Arial;color:#000;letter-spacing:2px;}
div.r_border{border:1px solid #D0802F;background:#FFF;}
div.r_text{font:12px/160% Arial;color:#000;text-align:left;padding:10px;}
div.r_button{text-align:center;padding:10px;}
div.r_footer{background:url(./image/Bicea_register_foot.gif) left top repeat-x;height:24px;}

table.r_form{width:635px;margin:0 auto;border:1px solid #C6C6C6;border-collapse:collapse;}
table.r_form th{text-align:left;width:20%;background:#ECECE6;border:1px solid #FFF;border-right:0;height:25px;font:13px/25px Arial;color:#000;padding-left:30px;}
table.r_form th span.star{font:15px/25px Courier;}
table.r_form td{border:1px solid #C6C6C6;height:25px;font:13px/25px Arial;color:#000;padding-left:30px;}
table.r_form td em.error{font:13px/25px Arial;color:#C00;}

div.explain{font:12px/160% Arial;padding:10px;margin:10px 0;letter-spacing:1px;}
div.explain span{font:bold italic 15px/150% Arial;color:#960;}