<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title> 在线记事本</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body>
	{% include 'notepad_nav.html' %}
	<div>
		 <div style="margin: 20px">
		 	<form action="/note/add/" method="POST" enctype="multipart/form-data">
		 		<textarea name="msg" cols="60" rows="8"></textarea> 
		 		<input type="submit" name="" style="width: 80px;height: 50px" value="提交">
		 		
		 	</form>
		 </div>

		 <div>
		 <table>
		 	{% for data in datalist%}
		 		<tr>
		 			<td>
						<div style="margin:20px;padding: 5px; border: 1px gray solid;width: 780px; " >
					
							<span>
								{{data.msg|escape|linebreaks}}
							</span>
						</div>
					</td>
					<td>
						<a href="/note/del/?id={{data.id}}">删除</a>
					</td>
				</tr>
			{% endfor %}
		</table>

		 </div>
		 
	</div>
	 
 <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/js/bootstrap.min.js"></script>
</body>
</html>
