<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>代码共享</title>
</head>
<body>
	<div>
		 <div style="margin: 20px">
		 {%for x in results%}

		 <a href={{x.url}} target="_blank">	{{x.title}}</a>a>
		 {% endfor%}
		 </div>
		 
	</div>
</body>
</html>
