*{margin:0;padding:0;}
body{background:#FFF;}

body.leftpage{
    margin-right:3px;
    background:#EEEEF0 url(./image/examinee_left_bg.jpg) left top repeat-y;
    margin-top:2px;
}

#nav{
	width:163px;
	border:0px;
	text-align:left;
	list-style:none;
}
#nav li.common{
    border-bottom:1px solid #69B357;
}
#nav li.current {
    border-bottom:1px solid #69B357;
}
#nav a{
	display: block;
    padding:3px 0 2px 25px;
    font:12px;140% Arial;
}
#nav ul.collplay  {
	list-style:none;
    clear:both;
}
#nav ul.collplay  li{
    border-top:1px solid #69B357;
    font-size:1px;
}

#nav ul.collplay  a{
    padding:3px 0 2px 35px;
}
#nav ul.collapsed {
	display: none; /*none*/
}

#nav ul.collplay {
	display: block;
}

#nav li.common a{
    background: url(./image/examinee_left_li.jpg) no-repeat 10px 10px;
    font-size: 12px;
	color: #3D5029;
	text-decoration: none;
	letter-spacing: 2px;
    border:1px solid #FFF;
    border-width:1px 0;
}
#nav li.common a:hover  {
	color: #FF9;
    background:#5BA24A url(./image/examinee_left_li.jpg) no-repeat 10px 10px;
}

#nav li.current a{
    font-size: 12px;
	color: #FF9;
    background:#5BA24A url(./image/examinee_left_li.jpg) no-repeat 10px 10px;
	text-decoration: none;
	letter-spacing: 2px;
    border:1px solid #FFF;
    border-width:1px 0;
}
#nav li.current a:hover  {
}

#nav ul.collplay li a{
	font-size: 12px;
	color: #000;
    background:url(./image/examinee_left_li1.jpg) no-repeat 24px 14px;
	text-decoration: none;
	letter-spacing: 2px;
    border:1px solid #FFF;
    border-width:1px 0;
}
#nav ul.collplay li a:hover {
	color: #3D5029;
}


/*bottom*/
div.bottom{
	border:0px;
	background:url(./image/examinee_bottom_bg.jpg) top left repeat-x;
    height:35px;
}
div.bottom div.l{background:url(./image/examinee_bottom_l.jpg) left bottom no-repeat;height:35px;width:171px;float:left}
div.bottom div.copyright{text-align:center;float:left;margin-right:65px;}
div.bottom div.r{background:url(./image/examinee_bottom_r.jpg) right bottom no-repeat;height:35px;width:65px;float:right;}
div.bottom span{
    text-align:center;
    font-size: 12px;
	color: #FFF;
	letter-spacing:2px;
    height:20px;
    line-height:20px;
    display:block;
    padding-top:7px;
}

/*top*/
#top{ background:url(./image/examinee_top_bg.jpg) top left repeat-x;height:110px;overflow:hidden;}
#head{background:url(./image/examinee_top_l.jpg) left top no-repeat;}
#headmaster{background:url(./image/examinee_top_2.jpg) left top no-repeat;}
#headrecommend{background:url(./image/examinee_top_3.jpg) left top no-repeat;}
#headtitle{background:url(./image/examinee_top_r.jpg) right top no-repeat;height:90px;}
#neck{background:url(./image/examinee_top_nl.jpg) left top no-repeat;}
#neck .nav{background:url(./image/examinee_top_nr.jpg) right top no-repeat;padding-right:40px;}
.menu{width:300px;float:right;text-align:center;padding-bottom:5px;}
.menu a{overflow:hidden;background:url(./image/examinee_top_space.jpg) left center no-repeat;font:12px/18px Arial;color:#3D5029;padding:2px 1px 2px 13px;letter-spacing:2px;text-decoration:none;}
.menu a:hover{color:#990;}