body {margin:25px 0 15px 0;}


/*data list*/
table.datalist , div.navigation ,div.explain ,div.title,div.subtitle , div.submodule,table.form,div.clew, div.error ,div.buttonc,table.modeform1,table.modeform2,div.lable,div.scrol,table.datalistc,div.articleview{ width:90%;border:0;padding:0;margin:0 auto;text-align:left;}
div.stepimg{width:90%;text-align:left;margin-bottom:25px;padding-top:15px;}

div.navigation {margin-bottom:15px !important; margin:2px auto 0 auto;padding-bottom:15px;}
div.navigation div.button{ float:left;}
div.navigation div.page{ float:right;text-align:right;vertical-align: middle;}
div.navigation div.page em{ color:#c00;font-style: normal;}
div.navigation div.page em.statushalt{color: #c00;font-style: normal;}
div.navigation div.page em.statusnatural{	color: #060;font-style: normal;}
div.navigation div.page span{ vertical-align: super !important;vertical-align:baseline;margin:3px !important;margin:0px; overflow: hidden; height: 18px; border:1 solid #000;}
div.navigation div.page span select{ margin:-2px;font-size:12px;height:17px !important; color: #000; border:1px solid #000}

table.form{	border-color: #DEB960;  	border-width: 1px;  	border-style: solid; 	border-collapse: separate !important; border-spacing: 0px; border-collapse:collapse;margin-bottom:1px;}
table.form tbody{ 	border-right:1px dashed #c49760 !important;	border-bottom:1px solid #c49760 !important; border:1px solid #fff;}
table.form th{background:#F5EFCB;	padding:0 10px 0 20px; white-space: nowrap;height:23px;	font:normal 13px/150% "宋体";letter-spacing:1px; 	border-right:1px solid #DEB960;border-bottom:1px solid #DEB960; }
table.form td{ background:#EEE;	padding-left:10px; line-height:23px;	height:23px;  	font-size: 13px;  font-family: "宋体"; letter-spacing: 1px; border-right:1px solid #DEB960; border-bottom:1px solid #DEB960;padding-right:5px;}
table.form td.subtable {padding:0;border:0}
table.form td.subtable table{width:100%;}
table.form td span.space{margin:0 10px;}
table.form td span.exp{font:12px/150% Arial;color:#a81302;}

div.error{	border-width:1px;border-style:dashed dashed solid dashed;border-color:#C49760;background:#eee;margin-bottom:15px;}
div.error p{ font:13px/150% "宋体",Arial,sans-serif;}
div.error ul{	list-style:none;margin:0;padding:0;}
div.error ul li{	border-bottom:1px solid #FFF;	color:#F00;	padding:0 10px;	font:13px/25px "宋体",Arial,sans-serif;	height:25px;}

div.buttonc{ text-align:center;margin:10px auto;padding:0;}

/*explain*/
div.explain{clear:both; padding-top:10px; border:1px dashed #C49760; background:#EEE url(./image/explain.jpg) right bottom no-repeat;}
div.explain div.text{ padding:10px 15px;border:1px solid #FFF;}
div.explain div.text p{margin:0;line-height:150%; height:300px;min-height:300px;}
div.explain div.etitle{  position: absolute;font:13px/150% "宋体",Arial,sans-serif;letter-spacing: 1px;width:0px;height:20px;		}
div.explain div.econtent{ clear:none; padding-left:0px;text-align:left;	font:13px/150% "宋体",Arial,sans-serif;	letter-spacing: 1px;width:95%;}
div.explain div.econtent ol { margin:0 10px;padding:0;}

/**/
div.title {text-align:center;margin-bottom:15px;}
div.title span.left {background: url(./image/point.gif) no-repeat center left; padding-left: 20px;}
div.title span.left em{font:bold 15px/100%  "宋体",Arial,sans-serif;color: #CC0000;	letter-spacing: 2px;}
div.title span.right{padding-right: 5px;}

div.subtitle{	border-top:1px solid #C49760;border-bottom:1px solid #ffffff;background:#FAF1C9 url(./image/biaoge_pic.gif) right bottom no-repeat; text-align:left;}
div.subtitle div.titletext{ 	font-size: 13px; 	font-weight: bold;	color: #333333;	letter-spacing: 2px; 	text-indent:15px; 	text-align:left; 	height:21px;   	line-height:21px; }


/*modeform*/
table.modeform1 {border-left:1px dashed #c49760;border-right:1px dashed #c49760;border-top:1px dashed #c49760;border-bottom:1px solid #c49760;}
table.modeform1 th{width:10%;text-align:left;padding-right:5px;height:23px;background-color:#EEE;white-space: nowrap; padding-left:25px;font-size: 12px;line-height:150%;font-family: "宋体";letter-spacing:1px;border-bottom:1px solid #fff;}
table.modeform1 th.mode{width:100%;text-align:left;padding-left:15px; background-color:#EEE;letter-spacing:2px;border-bottom:1px solid #FFF;color:#900;font-weight:bold;line-height:150%;}
table.modeform1 td{background-color:#EEE; height:23px;line-height:23px;	font-size: 12px;  	font-family: "宋体";	letter-spacing:1px;border-bottom:1px solid #fff;}
table.modeform1 th.button{ text-align:center;background-color:#EEE;letter-spacing:2px;font-size:12px;border-bottom:0px;}

table.modeform2 {border-left:1px dashed #c49760;border-right:1px dashed #c49760;border-top:0px dashed #c49760;border-bottom:1px solid #c49760;}
table.modeform2 th{width:10%;text-align:left;padding-right:5px;height:23px;background-color:#EEE;white-space: nowrap; padding-left:25px;font-size: 12px;line-height:150%;font-family: "宋体";letter-spacing:1px;border-bottom:1px solid #fff;}
table.modeform2 th.mode{width:100%;text-align:left;padding-left:15px; background-color:#EEE;letter-spacing:2px;border-bottom:1px solid #FFF;color:#900;font-weight:bold;line-height:150%;}
table.modeform2 td{background-color:#EEE; height:23px;line-height:23px;	font-size: 12px;  	font-family: "宋体";	letter-spacing:1px;border-bottom:1px solid #fff;}
table.modeform2 th.button{ text-align:center;background-color:#EEE;letter-spacing:2px;font-size:12px;border-bottom:0px;}

/*datalistc*/
table.datalistc{ border:1px solid #C49760;background:#FFF;margin:0 auto;}
table.datalistc th{height:21px;background:#B6B6B6;color:#FFF;font-size:13px;line-height:21px;text-align:center;}
table.datalistc th.second{height:18px;background:#B6B6B6;color:#FFF;font-size:13px;line-height:18px;}
table.datalistc tbody tr{background:#EBEBEB;}
table.datalistc tbody tr.over{ background: #ced3db;}
table.datalistc tbody tr.click{ background: #AAB3C1;}
table.datalistc td{line-height:130%;}
table.datalistc td.sort{background:#F7EDD2;padding-left:15px;}
table.datalistc td.r{text-align:right;padding-right:15px;}
table.datalistc tbody tr td.line{height:1px;background:#C49760;}
table.datalistc tbody tr td em.state{height:20px;line-height:20px;display:block;background:#F1E3C9;color:#C00;text-align:center;}

/*scroll*/
div.scrol{overflow:auto;}
div.scrol table{width:100%;}
div.scrol table td{white-space: nowrap;}

/*errorpage*/
div.errorpage{ width:679px; border:0;  margin:0 auto; margin-top:50px;background:url(./image/error_bg.jpg) left top repeat-y; }
div.errorpage div.top{	background:url(./image/error_top.jpg) left top no-repeat;	min-height:280px;}
div.errorpage div.top div.button{  	padding:130px 93px 50px 480px; 	height:38px;  }
div.errorpage div.top div.button a.back{ display:block;	height:38px; 	width:106px;	text-decoration: none; 	background:url(./image/back_1.jpg) left top no-repeat;}
div.errorpage div.top div.button a.back:hover{	background:url(./image/back_2.jpg) left top no-repeat;}
div.errorpage div.top div.button a.close{ display:block;	height:38px; 	width:106px;	text-decoration: none; 	background:url(./image/close_1.jpg) left top no-repeat;}
div.errorpage div.top div.button a.close:hover{	background:url(./image/close_2.jpg) left top no-repeat;}
div.errorpage div.top div.content{	margin:10px 170px 5px 80px; }
div.errorpage div.top div.content p{ font-size:13px; 	letter-spacing:1px;	text-align:left;	color:#C00;}
div.errorpage div.bottom{ background:url(./image/error_bottom.jpg) left bottom no-repeat;height:34px;}

/**/
td{padding-right:5px;padding-left:5px;}
td.l{ text-align:left;}
td.c{ padding:0px;text-align:center;}
td.n{ white-space:nowrap;}
table.form th.t{ vertical-align:top;padding-top:5px;}

/*articleView*/
div.articleview{border:1px solid #C49760;padding:15px;background:#FFF;height:320px;min-height:320px;}


/**/
table.classicLook td{font:12px/150% "宋体",Arial,sans-serif;}
table.classicLook td a{font:13px/150% "宋体",Arial,sans-serif;letter-spacing:2px;padding:0 1px;}
td.classicLook0 , td.classicLook1 ,td.classicLook2  ,td.classicLook3  ,td.classicLook4  ,td.classicLook5  ,td.classicLook6  ,td.classicLook7  { padding:2px 5px; }
tr.Paging th,tr.Paging td{padding:0 2px;}

table.classicLookPaging th{ font:normal 12px/100%; }
table.classicLookPaging tr.classicLookPaging th,table.classicLookPaging tr.classicLookPaging td{padding:0 2px;}
table.classicLookPaging a{ font:12px/100%;display:block;}
table.classicLookPaging a:link{ color:#000; }
table.classicLookPaging a:visited{ color:#000;}
table.classicLookPaging a:hover{ color:#960}
span.goto{border:1px solid #c00;padding:0 20px;background:#eee;}
