<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>添加url</title>
</head>
<body>
{% include 'nav.html' %}
 <form action="/cate/add/" method="POST" enctype="multipart/form-data">
 	<h3>已有类别：</h3>
			{%for cate in datalist %}
				{{cate.name}}<br>
			{% endfor %}
   名字:<input type="text" name="name">
   <input type="submit" name="添加" value="添加">
 </form>
 
</body>
</html>
