<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>添加url</title>
</head>
<body>
{% include 'nav.html' %}
 <form action="/url/add/" method="POST" enctype="multipart/form-data">
	类别:<select name="cate_id">
			{%for cate in datalist %}
				<option  value={{cate.id}}>{{cate.name}}</option>
			{% endfor %}
		</select>
 	url:<input type="text" name="href">
   名字:<input type="text" name="name">
   <input type="submit" name="添加" value="添加">
 </form>
 
</body>
</html>
