<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>网页收藏夹</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body>
	{% include 'nav.html' %}
	<div class="panel panel-success" style="margin: 50px">
    <div class="panel-heading">
        <h3 class="panel-title">网页收藏夹</h3>
    </div>
    <div class="panel-body">
		{% for data in datalist%}
	 		<table class="table table-bordered">
	 			<tr><th style="width: 100px">{{data.cate.name}}</th><th>名字</th><th>操作</th></tr>
					{% for url in data.u_list%}
						<tr>
							<td style="width: 100px"></td>
							<td>
								<a href={{url.href}} target="_blank">{{url.name}}</a> 
							</td>
							<td>
								<a style="color:gray;text-decoration: none;" href="/url/delete/?id={{url.id}}">删除</a>  
							</td>
						</tr>
					{% endfor %}
			</table>
		{% endfor %}
	</div>
 
 
 <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/js/bootstrap.min.js"></script>
</body>
</html>
