 <div class="panel panel-default">
    <div class="panel-body"> <a href='/'>首页</a>&nbsp&nbsp<a href="/url/add">添加url</a>&nbsp&nbsp<a href="/cate/add">添加分类</a>&nbsp&nbsp<a>{{user_name}}</a><a href="/logout">退出</a>
</div>
</div>