a{cursor:pointer;}

input:focus{outline:none; border:none;}

.headerwrap{width:100%; height:146px; overflow:hidden; background:#333128 url(headerbg.png) no-repeat center top;}

.headerwrap .header{width:940px; margin:0px auto; height:34px; line-height:34px; color:#ced7ce;}

.header .left{float:left; display:inline;}

.header .right{float:right; display:inline;;font-size:13px;}

.header .right .userarea{ display:inline-block;text-indent:8px;color:#fff3d8; font-weight:bold; background:url(indexbg.png) no-repeat; width:77px; height:24px; margin-top:5px; line-height:24px;margin-left:5px}

.header .right a{color:#ced7ce;margin:0px 5px;}

.header .right a:hover{color:#fff;}

.headerwrap .logoarea{height:112px; width:940px; margin:0px auto; overflow:hidden;}

.headerwrap .logoarea .logo{float:left; display:inline;margin-top:20px;}

.headerwrap .logoarea .searcharea{float:right; display:inline;margin-top:40px;}

.headerwrap .logoarea .searchdiv{height:30px; float:right; display:inline;}

.headerwrap .logoarea .searchdiv .en {position:relative;float:left; display:inline; line-height:30px;color:#fff;padding-right:20px}

.headerwrap .logoarea .searchdiv .en a {color:#fff;font-size:14px;font-weight:bold}

.headerwrap .logoarea .searinput{width:150px; height:28px; overflow:hidden; border:1px solid #fff; background:#fff;position:relative;float:left; display:inline;}

.headerwrap .logoarea .searchinput{ width:110px;padding-left:10px; height:26px; border:1px solid #fff; background:#fff; outline:none;font-size:12px; line-height:26px;}

.headerwrap .logoarea .searchbtn{ display:block; width:28px; position:absolute;height:28px; background:url(indexbg.png) no-repeat; background-position:4px -43px; top:0px; right:0px;border:none;}

.headerwrap .logoarea .advancedsearch{ padding-right:10px; line-height:30px; color:#fff; background:url(indexbg.png) no-repeat; background-position:53px -103px;float:left; display:inline; margin-left:12px;}

.headerwrap .logoarea a.advancedsearch:hover {color:#fff;}

.headerwrap .logoarea .menu{ float:right; clear:both; display:inline;line-height:22px; margin-top:12px; white-space:nowrap;font-size:14px;}

.headerwrap .logoarea .menu a{color:#e8efe7;margin-left:12px;}

.headerwrap .logoarea .menu a:hover{color:#fff;}

.indexnav{width:100%;z-index:10; height:44px; padding-top:1px;line-height:44px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; background:url(indexnav.png) repeat-x;}

.indexnav-content{width:999px;z-index:10;position:relative;height:44px; margin:0px auto;}

.indexnav-content div.menu1{position:relative; height:44px;width:81px;margin-left:2px; text-align:center; float:left; display:inline;}

.indexnav-content div.focused a.t{color:#004732;position:relative; display:block; width:81px; height:43px; line-height:42px; border:1px solid #e5e5e5; border-bottom-color:#fff; background:#fff;}

.indexnav-content div.focuse a.t{color:#004732;display:block; width:81px; height:42px; line-height:42px; border:1px solid #e5e5e5; border-bottom-color:#fff; background:#fff;}

.indexnav-content .menu1 .box{position:absolute;z-index:100; width:200px;top:44px; left:0px; background:#fff; border:1px solid #e5e5e5;border-top:0; border-bottom:0;display:none}

.indexnav-content .lastmenu .box{left:-104px;}

.indexnav-content .menu1 .box a.list{height:48px; display:block; text-align:left;padding-left:18px;font-size:14px; line-height:48px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; border-bottom:1px solid #e5e5e5; color:#333;}

.indexnav-content .menu1 .box a.list:hover{color:#874000; background:#f8f8f8}

.indexnav a.t{color:#fff; font-size:15px;}

.indexnav a:hover{color:#fbf2d0;}

.mobile_banner{ display:none}

#indexbanner{width:100%;clear:both; height:390px;position:relative;z-index:5;}

#indexbanner .bannerinner{width:1050px;z-index:3; margin:0px auto; height:390px; position:relative; overflow:hidden;}

#indexbanner .bannerinner a.hrefbanner{display:block;position:relative; width:100%;height:100%;}



#indexbanner .bannerinner .describ{display:block;position:absolute;z-index:8;top:155px;right:90px; width:235px;padding:2px 10px 12px 10px;overflow:hidden;}

#indexbanner .bannerinner .tit{font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; color:#000;font-size:22px;line-height:44px; height:44px; font-weight:normal}

#indexbanner .bannerinner .content{line-height:20px;display:block;color:#444;overflow:hidden;}

#indexbanner .bannerinner .describ .tpbg {width:1000px;height:1000px; position:absolute; z-index:-1;background:#fff; opacity:0.50;filter:alpha(opacity=50);top:0;left:0;}

#indexbanner .left,#indexbanner .right{background:url(indexbg.png) no-repeat;position:absolute;z-index:6; background-position:-56px -104px; width:46px; height:76px; display:block; top:140px;}

#indexbanner .left{ background-position:-50px -93px; left:0px;}

#indexbanner .right{background-position:-102px -93px;right:0px;}

#indexbanner .left:hover,#indexbanner .right:hover { background-color:#000;filter:alpha(opacity=50); opacity:0.5; border-radius:5px;}

#indexbanner .lights{float:left; display:inline; position:absolute; height:16px;top:320px;z-index:5;right:0px;}

#indexbanner .lights a{float:left; display:inline; margin-right:9px;background:#fff;border:1px solid #969696;cursor:pointer; background-position:0px -168px;width:12px; height:12px; border-radius:6px;overflow:hidden}

#indexbanner .lights a.focused{background:#008632;border:1px solid #fff}

#indexbanner .ground{display:block;height:390px;position:absolute; top:0px; left:0px;z-index:2;width:100%;background:#f9f3e0 url(banner.png) no-repeat;background-position:center top;}

.section-notice{width:100%;z-index:2; height:215px; background:url(indeximpor1.png) repeat-x;}

.section-notice .notice{width:1000px;background:url(indeximpor.png) repeat-x;z-index:5; height:260px; position:relative; top:-40px; margin:0px auto;}

.section-notice .notice .noticelist{}

.section-notice .notice .noticelist li{ width:274px; float:left; display:inline; margin-left:37px; margin-right:18px;}

.section-notice h2{font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; height:66px; margin-left:36px; font-size:18px; line-height:64px; font-weight:normal; color:#3d3d3d;}

.section-notice .imgwrap{width:274px; height:125px; overflow:hidden;display:block;}

.section-notice .des{height:48px; line-height:48px; text-align:center; font-size:14px; color:#34614d;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.section-notice .des a{ color:#34614d;}

.section-notice .des a:hover { color:#874000;}

.index-colum {width:930px;padding-bottom:70px; margin:0px auto; padding-top:0px;}

*+html .index-colum {padding-top:20px;}

.index-colum h2{height:54px; line-height:54px; font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; font-weight:normal;border-bottom:1px solid #ccc;font-size:18px;}

.index-colum h2 a.more{float:right;font-size:12px;font-family:none;color:#999;padding-top:4px;}

.index-colum h2 a.more:hover {color:#874000;}

.index-colum li{float:left; display:inline; }

.index-colum .li-1 h2 {margin-bottom:10px;}

.index-colum .li-1{width:280px; margin-right:45px;float:left; display:inline;}

.index-colum .li-2{width:280px; margin-right:45px;float:left; display:inline;}

.index-colum .li-3{width:280px; float:left; display:inline;}

.index-colum .li-1 .news{line-height:18px;}

.index-colum .li-1 .news .tit{color:#34614d;padding:6px 0px; border-bottom:1px dotted #8a8a8a;}

.index-colum .li-1 .news .bordernone{border-bottom:none;}

.index-colum .li-1 .news .tit a{color:#34614d;}

.index-colum .li-1 .news .tit a:hover{color:#874000;}

.index-colum .li-1 .news .con {margin-top:2px;color:#8a8a8a; text-align:justify; padding-bottom:12px; border-bottom:1px solid #e5e5e5;display:none}

.index-colum .li-1 div.news .block{display:block;} 

.index-colum .li-1 .list-news{ padding-top:12px;}

.index-colum .li-1 .list-news p{height:28px; line-height:28px; border-bottom:1px dotted #8a8a8a; width:310px; overflow:hidden;}

.index-colum .li-1 .list-news p a{color:#34614d;}

.index-colum .li-1 .list-news p a:hover {color:#874000}

.index-colum .li-2 .notice-list{}

.index-colum .li-2 .notice-list li{width:280px; padding-top:14px;}

.eventlist  li{padding-top:14px;border-bottom:1px dashed #ccc;padding-bottom:14px}

.index-colum .li-2 .notice-list .left, .eventlist .left{ width:47px; float:left; display:inline; margin-top:2px;}

.index-colum .li-2 .notice-list .right{width:221px; float:left; display:inline; margin-left:12px;}

.eventlist .right {float:left; display:inline; margin-left:12px;}

.index-colum .li-2 .notice-list .c, .eventlist .c{display:block; height:22px;background:#877873; line-height:22px; color:#fff; text-align:center; font-weight:bold; font-size:14px;padding-bottom:6px;}

.index-colum .li-2 .notice-list .time, .eventlist .time{height:14px; line-height:13px; text-align:center; padding-top:6px; font-size:10px; color:#fff; background:url(indexbg.png) no-repeat; background-position:-48px -199px; position:relative; top:-6px; width:47px; display:block}

.index-colum .li-2 .notice-list .sp .c, .eventlist .sp .c{ background:#4b9a6e;}

.index-colum .li-2 .notice-list .sp .time, .eventlist .sp .time{ background-position:-48px -271px; }



.index-colum .li-2 .notice-list .linkwrap, .eventlist .linkwrap{width:221px; height:18px; line-height:18px; overflow:hidden;}

.index-colum .li-2 .notice-list .linkwrap .link, .eventlist .link{ color:#b2b2b2; padding-right:20px;background:url(indexbg.png) no-repeat; background-position:right -176px;}

.index-colum .li-2 .notice-list .right .list {line-height:18px;  height:36px; overflow:hidden;}

.index-colum .li-2 .notice-list .right .list a, .eventlist .right .list a{color:#34614d;}

.eventlist .right .list a {font-size:14px;line-height:24px}

.index-colum .li-2 .notice-list .right .list a:hover, .eventlist .right .list a:hover{color:#874000;}



.index-colum .li-3 .notice-list {margin-top:6px;}

.index-colum .li-3 .notice-list li{width:280px; padding:8px 0;border-bottom:1px dotted #8a8a8a;zoom:1}



.index-colum .li-3 .notice-list .linkwrap{width:230px; height:18px; line-height:18px; overflow:hidden;}

.index-colum .li-3 .notice-list .linkwrap .link{ color:#b2b2b2; padding-right:20px;background:url(indexbg.png) no-repeat; background-position:right -176px;}

.index-colum .li-3 .notice-list .right .list {line-height:18px;overflow:hidden;}

.index-colum .li-3 .notice-list .right .list a{color:#34614d;}

.index-colum .li-3 .notice-list .right .list a:hover{color:#874000;}



.index-colum .li-3 .links{ width:190px; margin:10px 0px; }

.index-colum .li-3 .links td{padding-left:16px;background:url(indexbg.png) no-repeat; background-position:-286px -278px; height:28px; line-height:28px;}

.index-colum .li-3 .share{ padding:10px 0px 30px 5px;}

.index-colum .li-3 .weibo,.index-colum .li-3 .rss,.index-colum .li-3 .oldwww{float:left; display:inline; height:40px; line-height:40px;background:url(indexbg.png) no-repeat; background-position:-270px -238px; padding-left:35px;}

.index-colum .li-3 .rss{background-position:-266px -198px; margin-left:10px;}

.index-colum .li-3 .oldwww{background-position:-266px -310px; margin-left:10px;}

.jianshe{display:inline; background:url(indexbg.png) no-repeat; background-position:-100px -310px;}



.index-colum .li-3 a.login{display:block; width:192px;height:49px;background:url(indexbg.png) no-repeat; background-position:0px -251px;}

.index-colum .li-3 a.login b{float:right; display:inline; margin-right:22px; height:14px; line-height:14px; margin-top:17px; color:#fff;}



.index-colum .notice-list .linkwrap .link:hover {color:#666;}



.footer .foot h3{margin-bottom:12px;font-weight:normal;height:32px; line-height:32px; color:#fff; border-bottom:1px solid #958577;font-size:12px;}

.footer .foot h3 a{color:#fff;}

.footer .foot h3 a:hover{color:#CCC;}

.footer{padding:0px; margin:0px;background:#75604e; font-size:12px;}

.footer .foot li{width:98px; float:left; display:inline;margin-right:20px;}

.footer .foot li.last{margin-right:0px;}

.footer .foot{ margin:0px auto; width:930px;}

.footer .foot li p{height:22px; line-height:22px; width:95px; overflow:hidden;}

.footer .foot li p a{color:#c1b8b5;}

.footer .footer_l{background:url(footer_l.png) repeat-x; width:100%; height:45px; line-height:46px; overflow:hidden;}

.footer .footer_inner{margin:0px auto; width:930px; text-indent:14px; color:white; }

.footer  .foot li p a:hover{color:#dad5d3;}

.visitor-wrap {width:980px; margin:25px auto 0px auto; overflow:hidden;}

.visitor-wrap .Tit{height:56px; line-height:56px; font-size:28px; color:#004b18;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; font-weight:normal; border-bottom:1px solid #ececec;}

.visitor-wrap .figure{margin:0px;margin-top:20px; padding:0px;}

.visitor-wrap .ninhao{font-size:18px;color:#777; height:22px; line-height:22px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; margin-top:25px;}

.visitor-wrap .welcome{color:#c75000;font-size:26px; line-height:38px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.visitor-wrap .welcome1 {color:#777;line-height:24px; height:24px; padding-bottom:16px;padding-top:5px;border-bottom:1px solid #ececec;}

.visitor-wrap .visitor{padding:50px 0px 200px 0px;}

.visitor-wrap .visitor .menu{padding:0px;margin:0px;color:#666;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;width:270px;padding-right:52px; font-size:14px; float:left; display:inline;}

.visitor-wrap .menu h3{font-size:18px;color:#004732; height:22px; line-height:22px; font-weight:normal;margin-bottom:12px;}

.visitor-wrap .menu ul li{background:url(others.png) no-repeat;line-height:20px; background-position:-286px -38px;padding:10px 0px 10px 15px;}

.visitor-wrap .visitor .menu #guide{width:270px;position:absolute;}

.visitor-wrap .visitor .menu #guide ul li{cursor:pointer;}

.visitor-wrap .visitor .menu #guide ul li:hover{color:#000;}

.visitor-wrap .visitor .visitor-menu{min-height:300px;_height:300px; position:relative;top:0px; overflow:visible;}

.visitor-wrap .visitor .article{padding-left:27px;width:630px; border-left:1px solid #e1e1e1;float:left; display:inline;font-size:14px; color:#777;line-height:24px;}

.visitor-wrap .visitor .article h3{font-size:18px;color:#000; height:22px; line-height:22px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal;clear:both;margin-bottom:22px;}

.visitor-wrap .article .look{height:24px; line-height:24px; margin:13px 0px 40px 0px;}

.visitor-wrap .item p{margin-top:24px;}

.visitor-wrap .item p.first{margin-top:0px;}

.visitor-wrap .article .look a{float:right; display:inline; padding-right:26px;background:url(others.png) no-repeat; background-position:right -125px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;color:#874000; margin-left:62px;}

.visitor-wrap .article .look a:hover{color:#004732}

.cooperation-wrap{width:980px; margin:38px auto 0px auto;}

.cooperation-wrap .menu {padding:0px;width:215px; height:448px; float:left; display:inline;margin:0px;background:url(coleftbg.png) no-repeat;padding-top:15px;}

.cooperation-wrap .menu dd a.t{ font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;margin-left:27px;font-size:14px; color:#004732; line-height:22px;}

.cooperation-wrap .menu dd a.t:hover {color:#874000}

.cooperation-wrap .menu dd {padding-left:3px;margin-top:18px;}

.cooperation-wrap .menu dl {zoom:1;}

.cooperation-wrap .article{width:716px;margin-left:48px; display:inline; float:left;padding-bottom:240px;}

.cooperation-wrap .navigator,.visitor-wrap .navigator{height:22px; line-height:22px;}

.cooperation-wrap .navigator a,.cooperation-wrap .navigator span,.visitor-wrap .navigator a,.visitor-wrap .navigator span{color:#959595; margin:0px 2px;}

.cooperation-wrap .navigator a:hover,.visitor-wrap .navigator a:hover{color:#333;}

.cooperation-wrap .navigator a.home,.visitor-wrap .navigator a.home {background:url(others.png) no-repeat; height:22px; line-height:22px; background-position:-284px 4px;display:block;float:left;zoom:1;width:20px;overflow:hidden; text-indent:-500px; vertical-align:middle;margin-left:0}

.cooperation-wrap .navigator a.home:hover,.visitor-wrap .navigator a.home:hover {background-position:-255px 4px;}

.cooperation-wrap .article .tit{ height:48px; line-height:48px; font-size:28px; font-weight:normal;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; color:#004b18; border-bottom:1px solid #ececec; padding-bottom:6px;}

.cooperation-wrap  .article .details{width:716px; line-height:20px;color:#666; background:url(corightbg.png) no-repeat; height:190px; background-position:center bottom;overflow:hidden; position:relative;}

.cooperation-wrap  .article .servicetop {height:240px;}

.cooperation-wrap  .article .culturetop {height:275px;}

.cooperation-wrap  .article .introductiontop {height:355px;}

.cooperation-wrap .article .details p{margin-top:22px; text-indent:24px}

.cooperation-wrap .article .details .more{color:#874000;position:absolute; bottom:30px; right:10px;}

.cooperation-wrap .article .details a.more:hover {color:#004732}

.cooperation-wrap .article .cooperwrap{width:716px; overflow:hidden;}

.cooperation-wrap .article .cooper{width:745px;}

.cooperation-wrap .article .cooper li{width:222px; height:166px; float:left; display:inline;margin-right:25px;margin-top:25px;overflow:hidden;}

.cooperation-wrap .article li .imgwrap{height:115px; display:block; overflow:hidden;}

.cooperation-wrap .article li .tc{display:block;height:50px; line-height:50px; font-size:16px; color:#874000; text-align:center;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; border:1px solid #ddd;  border-top:0; border-radius:0 0 5px 5px;}

.cooperation-wrap .article li a.tc:hover{color:#004732}

.cooperation-wrap .menu dd.focused{padding-left:0px;border-left:3px solid #077500;}

.cooperation-wrap .menu dd.focused a.t,.cooperation-wrap .menu dd.focuse a.t{color:#000;}

.cooperation-wrap .article .gangao_figure{padding:0px; margin:30px 0px 0px 0px;}

.cooperation-wrap .gangaowrap{width:716px;padding-top:40px;}

.cooperation-wrap .gangaowrap .chapter{float:left; display:inline; width:520px;border-right:1px solid #e5e5e5;line-height:23px; color:#777;padding-right:34px;font-size:14px;overflow:hidden;}

.cooperation-wrap .gangaowrap .chapter p.s{text-indent:28px; margin-bottom:28px; text-align:justify;}

.cooperation-wrap .gangaowrap .chapter p.s a{color:#0081ca;text-decoration:underline;}

.cooperation-wrap .gangaowrap .chapter p.s a:hover {color:#874000;text-decoration:none}

.cooperation-wrap .related{float:left;overflow:hidden;min-height:250px;_height:250px; display:inline; width:161px; background:url(relateddepar.png) no-repeat;}

.cooperation-wrap .related .related-depart{font-size:16px; color:#874000; height:30px; line-height:30px;margin-left:23px;margin-bottom:5px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; font-weight:normal;}

.cooperation-wrap .related .relatedlist{width:130px;padding:6px 0px 6px 10px;background:url(others.png) no-repeat; background-position:-296px -168px;line-height:20px;color:#333;margin-left:25px;}

.cooperation-wrap .related .relatedlist a{color:#333;}

.cooperation-wrap .related .relatedlist a:hover{color:#307C5A;}

.cooperation-wrap .conferencewrap .confe-des{line-height:23px;color:#777;margin-top:45px;font-size:14px; text-indent:28px;}

.cooperation-wrap .conferencewrap .confe-info{font-size:18px;color:#000; height:60px; line-height:60px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal;}

.cooperation-wrap .conferencewrap #confe-table th{color:#c1a28c; height:50px;padding-top:10px; line-height:50px; overflow:hidden;border-top:1px solid #ececec;text-indent:15px; border-bottom:2px solid #ececec;white-space:nowrap;}

.cooperation-wrap .conferencewrap td{border-right:1px solid #ececec;color:#777;line-height:18px;border-bottom:1px solid #ececec;height:60px; vertical-align:middle;padding:0px 15px;}

.cooperation-wrap .conferencewrap td.last{border-right:none;}

.cooperation-wrap .conferencewrap td.f{color:#000;}

.cooperation-wrap .menu .inner .box{margin-left:27px;padding-top:5px;display:none; }

.cooperation-wrap .menu .inner .box li{padding-left:14px;background:url(others.png) no-repeat;background-position:-295px -215px;height:28px; line-height:28px; color:#545454;}

.cooperation-wrap .menu .inner .focused .box{display:block;}

.cooperation-wrap .menu .inner .focused .box li.focused{font-weight:bold;}

.cooperation-wrap .menu .inner .focused .box li.focused a:hover{color:#333;}

.cooperation-wrap .menu .inner .focuse .box{display:block;}

.cooperation-wrap .menu .inner .focuse .box li.focused{font-weight:bold;}

.cooperation-wrap .menu .inner .focuse .box li.focused a:hover{color:#333;}

.cooperation-wrap .undergra-wrap{width:520px;overflow:hidden;}

.cooperation-wrap .undergra-wrap .undergra-list{width:550px;}

.cooperation-wrap .undergra-wrap li{width:246px; float:left; display:inline;margin-right:26px; margin-top:26px;}

.cooperation-wrap .undergra-wrap li .img-wrap{overflow:hidden; height:57px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;line-height:57px; text-indent:26px;color:#333;font-size:18px;}

.cooperation-wrap .undergra-wrap li .list{width:244px; border:1px solid #e7e7e7;border-bottom-right-radius:5px;border-bottom-left-radius:5px; border-top:none; display:block; margin:0px; padding:8px 0px;}

.cooperation-wrap .undergra-wrap .list .p{height:30px; margin-left:25px;line-height:30px;width:202px;background:url(others.png) no-repeat; background-position:right -121px; color:#874000; font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.cooperation-wrap .undergra-wrap .list .p a{color:#874000; display:block;}

.cooperation-wrap .undergra-wrap .list .p a:hover { color:#004732}

.cl-left{clear:both;}

.cooperation-wrap .s-course{margin-top:25px;}

.cooperation-wrap .s-course .ti{height:60px; line-height:60px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-size:18px;color:#000; font-weight:normal; border-bottom:1px solid #e7e7e7;}

.cooperation-wrap .s-course .fordetails {height:50px; clear:both;margin-top:5px;}

.cooperation-wrap .s-course .fordetails  a{float:right; background:url(others.png) no-repeat; background-position:right -127px; padding-right:24px; height:28px; margin-top:11px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; font-size:14px; color:#874000;}

.cooperation-wrap .s-course .fordetails  a:hover {color:#004732}

.cooperation-wrap .s-course .p-course{line-height:23px; color:#777; text-indent:28px; font-size:14px; margin-top:20px;padding-bottom:2px;}

.visitor-wrap  .examinee .examinee-list{padding:30px 0px;}

.visitor-wrap  .examinee .examinee-list-1{border-top:1px solid #E7E7E7;}

.visitor-wrap .examinee .examinee-list .ex-t{font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;color:#000; font-weight:normal;line-height:22px;}

.visitor-wrap .examinee .examinee-list .describ{line-height:18px;margin:15px 0px 8px 0px; color:#777;width:207px;}

.visitor-wrap .examinee .examinee-list .link{height:30px; clear:both;line-height:30px;}

.visitor-wrap .examinee .examinee-list .link a{float:left;display:inline;background:url(others.png) no-repeat; background-position:right -121px; height:30px; font-size:14px; color:#874000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;padding-right:25px;}

.visitor-wrap .examinee .examinee-list .link a:hover{color:#004732}

.visitor-wrap .examinee .examinee-list li{float:left; display:inline;height:240px; }

.visitor-wrap .examinee .examinee-list .li-1{width:240px;}

.visitor-wrap .examinee .examinee-list .li-2{width:222px; padding-left:22px; border-left:1px solid #e7e7e7;}

.visitor-wrap .examinee .examinee-list .li-3{width:222px; padding-left:22px; border-left:1px solid #e7e7e7;}

.visitor-wrap .examinee .examinee-list .li-4{width:217px; padding-left:32px; border-left:1px solid #e7e7e7;}

.visitor-wrap .examinee .examinee-list-1 li{height:295px; margin-bottom:160px;}

.service-skill .chapter{line-height:23px;color:#777; font-size:14px;margin-top:40px;}

.service-skill .chapter .s{text-indent:28px;margin-bottom:28px;text-align:justify;}

.service-skill .maps-t{height:56px; line-height:56px; font-size:18px; color:#000; border-bottom:1px solid #e7e7e7;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal;}

.service-skill .maps-wrap{padding:35px 0px 0px 0px;}

.cooperation-wrap .cooperwrap-1{padding-bottom:40px; border-bottom:1px solid #e7e7e7;}

.cooperation-wrap .details h3.title{height:24px; line-height:24px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal; font-size:20px;color:#000;margin-top:25px;}

.cooperation-wrap .research-article .details{height:250px;}

.cooperation-wrap .research-article {padding-bottom:240px;}

.cooperation-wrap .basicstatic {margin-top:24px;width:716px; overflow:hidden;margin-bottom:0px;}

.cooperation-wrap .basicstatic li {padding-right:5px}

.cooperation-wrap .basicstatic li.t-1{height:60px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; line-height:60px;font-size:18px; color:#874000;border-bottom:2px solid #ececec;}

.cooperation-wrap .basicstatic li em{float:right; font-style:normal;font-family:arial;}

.cooperation-wrap .basicstatic li.t-3{font-size:14px; height:40px; line-height:40px;color:#444; border-bottom:1px solid #ececec;padding-left:17px;} 

.cooperation-wrap .basicstatic li.t-2{font-size:14px; height:40px; line-height:40px;color:#000; border-bottom:1px solid #ececec;font-weight:bold;padding-left:20px;} 

.cooperation-wrap .basicstatic li.t-4{font-size:12px; height:40px; line-height:40px;color:#000; border-bottom:1px solid #ececec;padding-left:36px;} 

.cooperation-wrap .basicstatic li.t-3 em{color:#000;font-weight:bold;}

.cooperation-wrap .basicstatic li.on {background:#F8F8F8}

.cooperation-wrap .staticmark {text-align:right;padding:20px 0;color:#888}

.cooperation-wrap .traffic-h{height:60px; line-height:60px; padding-top:10px; font-size:18px; color:#000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;border-bottom:1px solid #ECECEC;}

.cooperation-wrap .traffic-intro{line-height:20px;color:#777;padding-top:15px;padding-bottom:25px;} 

.traffic .area{height:40px; border-bottom:1px solid #c3c3c3;margin-top:28px;}

.traffic .area span{float:left; display:inline;width:140px;border:1px solid #e4e4e4;cursor:pointer; height:38px;background:#fff;border-bottom:1px solid #C3C3C3; text-align:center;font-size:18px;color:#9c9b9b;margin-right:6px; line-height:38px; position:relative; top:1px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}



.traffic .lines{line-height:70px; height:70px;color:#000;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.traffic .area span.focused{color:#874000; border:1px solid #C3C3C3; border-bottom:1px solid #fff;z-index:10;}

.traffic .line-table td{height:46px; color:#777;line-height:46px; border-bottom:1px solid #e8e8e8;padding-left:5px;}



.traffic .lines-choose .line-table th{height:50px;padding-left:5px; line-height:50px;color:#c1a28c; border-bottom:2px solid #e8e8e8; border-top:1px solid #e8e8e8;padding-top:10px;}

.traffic .line-table td.l-1{color:#000;}

.traffic .line-table td.l-2{color:#017e59;}

.traffic .line-table .on,.traffic .line-table-1 .on{background:#f8f8f8;}

.traffic .main-line{height:60px; line-height:60px;font-size:18px; color:#000;margin-top:20px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.traffic .line-table-1 th{color:#c1a28c; height:50px; line-height:50px; padding-top:10px;border-top:1px solid #e8e8e8; border-bottom:2px solid #e8e8e8;padding-left:5px;}

.traffic .line-table-1 td{color:#000;vertical-align:top; line-height:20px; border-bottom:1px solid #e8e8e8;padding:5px 0px;}

.traffic .line-table-1 td p.line-p{color:#777;padding:10px 0px; border-bottom:1px dotted #e8e8e8;padding-left:20px; position:relative;}

.traffic .line-table-1 .line-p em{color:#017e59;font-weight:bold;font-size:16px;font-style:italic;font-family:arial;position:absolute; top:10px; left:0px;_left:-15px;}

.traffic .line-table-1 td.l{padding-top:15px;}

.traffic .line-table-1 td p.last-p{border-bottom:none;}

.cooperation-wrap .traffic-p {padding:10px 0;}

.cooperation-wrap .traffic-article{padding-bottom:300px;}

.cooperation-wrap .traffic-article .traffic-h .special{font-size:12px; color:#666;}

.cooperation-wrap .traffic-article .traffic-H{height:56px; line-height:56px; color:#777;font-size:14px;font-weight:bold;border-bottom:1px solid #ECECEC;}

.cooperation-wrap .traffic-article .settime .th{background:#f8f8f8;vertical-align:top; color:#777; text-align:center;font-weight:bold;}

.cooperation-wrap .traffic-article .settime td{padding:10px 10px; line-height:23px; vertical-align:middle;border-bottom:1px solid #E8E8E8;}

.cooperation-wrap .traffic-article  .traffic-C{height:42px; line-height:42px;color:#777; border-bottom:1px solid #ECECEC;}

.cooperation-wrap .traffic-article .traffic-carline{height:41px;margin-top:20px;border-bottom:1px solid #c3c3c3;}

.cooperation-wrap .traffic-article .traffic-carline span{float:left;cursor:pointer;display:inline;width:222px;text-align:center;color:#9c9b9b;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;border:1px solid #e0e0e0;height:39px;line-height:39px;border-bottom:1px solid #C3C3C3; margin-right:6px;line-height:39px;position:relative; top:1px;}

.cooperation-wrap .traffic-article .traffic-carline span.focused{color:#874000;border:1px solid #c3c3c3;border-bottom-color:#fff;}

.cooperation-wrap .traffic-article .carline{margin-top:15px;}

.leaders .leader-h{height:24px; line-height:24px;font-size:18px; color:#000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;margin:0px 0px 20px;}

.leaderswrap .gangaowrap .chapter{margin-top:30px;}

.leaderswrap .gangaowrap{padding-top:0px;}

.leaderswrap .related{margin-top:40px;}

.leaderswrap .leader-table{width:100%;font-size:12px;margin-bottom:30px;}

.leaderswrap .leader-table tr.on{background:#f8f8f8;}

.leaderswrap .leader-table td{height:40px;line-height:40px;color:#444; border-bottom:1px solid #E8E8E8;}

.sv10{font-size:0px; line-height:10px;height:10px; clear:both; width:100%;}

.sv30{font-size:0px; line-height:30px;height:30px; clear:both; width:100%;}

.cooperation-wrap  .culture-p{height:58px; line-height:58px; color:#000; font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;border-bottom:1px solid #ececec;}

.leaderswrap .leader-table th{color:#c1a28c;height:50px; line-height:50px; padding-top:6px;border-top:1px solid #e8e8e8;border-bottom:2px solid #e8e8e8;}

.cooperation-wrap .culture-chap{font-size:14px; line-height:23px; color:#777; margin-top:20px;}

.cooperation-wrap .culture-more{height:46px; line-height:46px;}

.cooperation-wrap .culture-more a{float:right; display:inline;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-size:14px; color:#874000; height:20px;margin-top:7px; padding-right:18px;background:url(others.png) no-repeat; background-position:right -127px;line-height:20px; }

.cooperation-wrap .culture-more a:hover{color:#004732}

.cooperation-wrap .culture-t{font-weight:bold;padding-top:20px;color:#777; font-size:14px;}

.cooperation-wrap .culture-songs{text-align:center;}

.cooperation-wrap .culture-article{padding-bottom:200px;}

.cooperation-wrap .visual-article {color:#777;}

.cooperation-wrap .visual-article .visual-t{height:68px; line-height:68px;font-size:14px; font-weight:bold;}

.cooperation-wrap .visual-article .visual-item .visual-l{width:518px;float:left;display:inline;}

.cooperation-wrap .visual-article .visual-item{padding-bottom:10px;}

.cooperation-wrap .visual-article .visual-item .visual-con{line-height:23px; font-size:14px;text-indent:28px;}

.cooperation-wrap .visual-article .visual-item .visual-r{float:right;display:inline;margin-top:30px;width:160px;overflow:hidden;}

.cooperation-wrap .visual-article .visual-item-1 .visual-t{height:30px; line-height:30px;margin-top:15px;}

.cooperation-wrap .visual-article .visual-item-1 {padding-bottom:45px;}

.cooperation-wrap .visual-article .visual-item-l {width:360px; float:left; display:inline;}

.cooperation-wrap .visual-article .visual-item-1 .visual-item-r{float:right;display:inline;width:347px; height:180px;margin-top:30px;}

.cooperation-wrap .visual-article .font-p{font-size:14px;margin:30px 0px 10px 0px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;color:#000;}

.cooperation-wrap .visual-article .bookmart a,.cooperation-wrap .visual-article .font-p a{color:#0081ca; text-decoration:underline;}

.cooperation-wrap .visual-article .bookmart a:hover,.cooperation-wrap .visual-article .font-p a:hover {color:#874000; text-decoration:none;}

.cooperation-wrap .visual-article  .bookmart{line-height:23px; margin-top:16px;font-size:14px;}

.cooperation-wrap .visual-article .xiaofeng-con{line-height:23px;font-size:14px;}

.cooperation-wrap .visual-article .xiaofeng-con .xiaofeng-p{margin-top:25px; text-indent:28px;}

.cooperation-wrap .visual-article .figure {text-align:center;margin-top:25px;}

.cooperation-wrap .culture-article .collegesong{height:66px; line-height:66px; font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;color:#000;border-bottom:1px solid #ECECEC;padding-top:5px}

.cooperation-wrap .culture-article .collegesong a{color:#0081ca; text-decoration:underline}

.cooperation-wrap .culture-article .collegesong a:hover{color:#874000; text-decoration:none}

.cooperation-wrap .culture-article .collegesong-img{margin-top:33px;margin-bottom:26px;}

.cooperation-wrap .culture-article .mtv{margin:30px 0px;width:716px;}

.cooperation-wrap .gangaowrap .section-left{float:left; display:inline; width:520px;border-right:1px solid #e5e5e5;line-height:23px; color:#777;padding-right:34px;font-size:14px; margin-top:30px;}

.cooperation-wrap .present-table{position:relative; }

.cooperation-wrap .present-table td{height:87px;padding-left:15px;vertical-align:top;}

.cooperation-wrap .present-table td .label{display:block; height:22px; font-size:12px;line-height:22px;}

.cooperation-wrap .present-table td .name{display:block; height:22px; color:#874000;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.cooperation-wrap .present-table td .name a{color:#874000;}

.cooperation-wrap .present-table td .name a:hover {color:#004732;}

.cooperation-wrap .present-table tr.on{background:#f8f8f8;}

.cooperation-wrap .present-table td.on {border-left:1px solid #ECECEC;padding-left:40px;}

.cooperation-wrap .present-leader-article .section-left{margin-top:0px;}

.laderlayer {position:absolute; left:50%;margin-left:-490px;top:50%;margin-top:-264px; width:923px; height:560px; background:#fff;border:1px solid #009400; padding-left:57px; display:none; z-index:10;}    

.laderlayer .close{position:absolute; display:block;width:23px; height:23px; background:url(others.png) -87px -270px; top:17px; right:20px;}

.laderlayer a.close:hover {filter:alpha(opacity=70); opacity:0.7}

.laderlayer .leadername{ margin-top:24px; color:#874000; font-size:24px; font-weight:normal; font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.laderlayer .leadername .r{ font-size:14px; color:#333; font-family:sans-serif; margin-left:15px;}

.laderlayer .leadername .info{ font-size:12px; color:#777; font-family:sans-serif;line-height:18px;padding:8px 0 15px 0;display:block;}

.laderlayer .catogary{height:36px; border-bottom:1px solid #ccc;width:617px}

.laderlayer .catogary a{float:left; display:inline; margin-right:6px; border:1px solid #e5e5e5; border-bottom:1px solid #ccc; position:relative; top:1px; height:34px; width:64px; text-align:center; line-height:34px; color:#666;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif; font-size:14px;}

.laderlayer .catogary a.focuse{border-color:#ccc;border-bottom:1px solid #fff; color:#000;}

.laderlayer .imgwrap{ float:left; display:inline; margin-left:30px; padding:8px; border:1px solid #ccc; margin-top:25px;}

.laderlayer .leftarea{width:617px; float:left; display:inline; position:relative; height:470px; overflow:hidden;}

.laderlayer .layerbox{padding-top:35px;}

.laderlayer .list{color:#666; font-size:14px; line-height:26px; margin-top:22px;}

.laderlayer .list .time{margin:0px; padding:0px;display:block; width:178px; }

.laderlayer .list ul li {float:left;display:inline;margin:6px 9px;width:185px;height:178px;font-size:12px;line-height:18px;overflow:hidden}

.laderlayer .list ul li img {width:185px;height:130px;margin-bottom:4px;}

.laderlayer .sidebar{float:left; background:#e0e0e0; height:445px; width:6px; display:inline; position:relative; margin-left:40px;margin-top:25px;}

.laderlayer .sidebar a.bar{display:block; width:6px; background:#009400; height:100px; position:absolute;top:0px; left:0px;}

.laderlayer .leftarea .innerarea{position:absolute; top:0px; left:0px;}

#leaderlayer{width:100%;height:100%;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;background:#fff;position:absolute; top:0px;left:0px;z-index:9; display:none;}

.history-article .history-c p.chp{margin-top:22px;line-height:23px; color:#777;font-size:14px;text-indent:28px;}

.history-article .history-c p.chp a,.history-article  p.single-p a{color:#0081ca; text-decoration:underline;}

.history-article .history-c p.chp a:hover,.history-article  p.single-p a:hover{color:#874000; text-decoration:none;}

.history-article .history-c p.mt32{margin-top:32px;}

.history-article .single-p{line-height:23px; color:#777; font-size:14px;text-indent:28px;margin-top:30px;}

.history-article .history-c {margin-top:28px;position:relative;}

.history-article .history-c .historyimg1{float:right; display:inline;margin-left:20px;}

.history-article .history-c .historyimg2{float:left; display:inline;margin-right:30px;margin-top:20px;}

.mt28{margin-top:28px;}

.history-article .history-c .historyimg3{margin-top:25px; float:right;display:inline;}

.cooperation-wrap .history-article{padding-bottom:240px;}

.cooperation-wrap .history-article .introimg1{float:right; display:inline; margin-left:18px;margin-top:5px;}



.cooperation-wrap .history-article .for-more{font-size:14px;height:40px; line-height:40px;}

.cooperation-wrap .history-article .for-more a{float:right; display:inline;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-size:14px; color:#874000; height:20px;margin-top:15px; padding-right:25px;background:url(others.png) no-repeat; background-position:right -127px;line-height:20px; margin-left:25px;}

.cooperation-wrap .history-article .for-more a:hover {color:#004732}

.cooperation-wrap .departmentul {padding-top:36px;}

.cooperation-wrap .departmentul li{float:left;display:inline;width:200px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.cooperation-wrap .departmentul li.li-r{padding-left:40px;border-right:none;border-left:1px solid #E7E7E7;}

.cooperation-wrap .departmentul li span.depar-t{height:32px; line-height:32px; color:#444;display:block;font-size:14px;}

.cooperation-wrap .departmentul li span.depar-t a{color:#444;}

.cooperation-wrap .departmentul li span.depar-t a:hover{color:#874000;}

.cooperation-wrap .departmentul li .depar-h{font-size:18px;height:22px; line-height:22px;margin-bottom:20px;font-weight:normal;color:#000;}

.cooperation-wrap .departmentul td{vertical-align:top;}

.cooperation-wrap .departmentul em{font-style:italic;color:#000;margin-left:12px;}

.cooperation-wrap .departmentul span.sec{margin-top:30px;}

.internalstudent{padding-bottom:220px;}

.internalstudent .menu-1{width:278px;float:left;padding:0px; margin:0px; display:inline;margin-top:30px;border-right:1px solid #ECECEC;padding-right:60px;}

.internalstudent .menu-1 .internal-con{line-height:18px; color:#777;margin-top:20px;}

.internalstudent .menu-1 .internal-h3{height:22px; line-height:22px;font-size:18px;color:#000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal;}

.internalstudent .menu-1 .a-more{height:24px; line-height:24px; margin-top:13px;}

.internalstudent .menu-1 .a-more a{float:right; display:inline; padding-right:26px;background:url(others.png) no-repeat; background-position:right -125px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-size:14px;color:#874000; margin-left:62px;}

.internalstudent .menu-1 .a-more a:hover{color:#004732;}

.internalstudent .article-1{float:right;display:inline; width:610px;margin-top:30px;}

.internalstudent .article-1 .internal-h3{height:22px; line-height:22px;font-size:18px;color:#000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;font-weight:normal;}

.internalstudent .article-1 #search{width:610px; height:40px;margin-top:20px;}

.internalstudent .article-1 .search{margin-top:10px;}

.internalstudent .article-1 .input{height:38px; outline:none;padding-left:15px;background:#fff;width:517px;line-height:38px;font-size:14px; color:#777; float:left; display:inline;border:1px solid #c5c5c5;border-right:none; border-radius:4px 0 0 4px}

.internalstudent .article-1 .internalsearch{width:77px;height:40px;float:left; display:inline;background:url(others.png) no-repeat; background-position:0px -260px;}

.enroll-wrap .enroll-t{font-size:20px;color:#000; margin-top:0px; height:24px; line-height:24px;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;}

.enroll-wrap .article .details {height:236px;}

.enroll-wrap .article .enrolldetials-s {height:170px;background:none;}



a.normallink{background:url(others.png) no-repeat; background-position:right -127px; height:30px;line-height:30px; font-size:14px; color:#874000;font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;padding-right:25px;}

a.normallink:hover{	color:#004732}



h2.th {

    color: #004A1B;

    font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;

    font-size: 20px;

    height: 40px;

    line-height: 40px;

	font-weight:normal;

}



.netcenter .p

{

	padding:0.75em 0;

}



.netcenter .line

{

	border-bottom:1px solid #ddd;

	height:1px;

	overflow:hidden;

	margin:20px 0;

}



.netcenter .notice-list

{

	margin-bottom:30px;

}



.netcenter .notice-list .right

{

	width:460px

}



.netcenter .notice-list .right h3

{

    font-family:\5FAE\8F6F\96C5\9ED1,sans-serif;

    font-size: 15px;

	font-weight:normal;

	line-height:22px;

	padding-bottom:5px;

}



.netcenter .notice-list .right h3 a

{

	color:#004C14;

}



.netcenter .notice-list .right p

{

	font-size:12px;

	line-height:18px;

	color:#999;

}

.netcenter .morewrap

{

	display:block;

	text-align:right;

}



.netcenter .morewrap a {

    color: #874000;

	font-size:12px;

}



.netcenter .th a.more

{

	float:right;

	font-size:12px;

	font-family:sans-serif;

	color:#9A9A9A;

}



.netcenter ol.p-course

{

	padding:0 0 0 50px;

	list-style:outside decimal;

}



.netcenter ol.p-course li

{

	text-indent:0;

}



.indent14{ text-indent:28px;}

.pager { clear: both;text-align: right;margin-top:15px}

.pager a {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #7E7A7B;

    color: #7E7A7B;

    display: inline-block;

    line-height: 18px;

    margin: 0 2px;

    padding: 0 5px;

}

.pager a:hover, .pager a.current {

    background-color: #8A8699;

    color: #FFFFFF;

    font-weight: bold;

    text-decoration: none;

}

.pager a.next, .pager a.preview {

    background: url("pagerarrow.gif") no-repeat scroll 0 0 #FFFFFF;

    width: 8px;

}

.pager a.preview {

    background-position: 6px 5px;

}

.pager a.next {

    background-position: -10px 5px;

    width: 18px;

}

.pager a.preview:hover {

    background-color: #8A8699;

    background-position: 6px -8px;

}

.pager a.next:hover {

    background-color: #8A8699;

    background-position: -10px -8px;

}

.bt_content p{ margin:7px 0px;} 
.mobile_top{display:none}